<script src="//netdna.bootstrapcdn.com/bootstrap/3.0.3/js/bootstrap.min.js"></script>
<script src="//code.jquery.com/jquery-1.11.1.min.js"></script>

<div id="wrapper" class="active">

  <div id="sidebar-wrapper">
    <ul id="sidebar_menu" class="sidebar-nav">
      <a class="navbar-brand"><img src="../../../assets/tgv-logo.png" class="center ml-5" alt="Logo-TGV"
          height="80px"></a>
    </ul>

    <ul class="sidebar-nav" id="sidebar" *ngIf="isDataLoaded">
      <li>
        <button class="navbar-toggler collapsed"
          style="font-size: inherit!important; line-height: inherit!important; margin-left: -33px" type="button"
          data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false"
          aria-label="Toggle navigation"><a class="myItem-a">Carreras<span
              class="sub_icon glyphicon glyphicon-link"></span></a></button>
        <div class="collapse navbar-collapse" id="navbarNav">
          <ul class="navbar-nav" *ngFor="let carrera of misCarreras; let i = index">
            <li class="nav-item" *ngIf="i < 2">
              <!-- <a class="nav-link" (click)="listarModulosCarrera(i+1)">{{  carrera.nombre}}</a> -->
              <a class="nav-link" [routerLink]="['/modulos', i+1]">{{  carrera.nombre}}</a>
              <!-- <a [routerLink]="['/cursos', ]">{{  carrera.nombre}}</a> -->
            </li>
          </ul>
        </div>
      </li>

      <li>
        <!-- <a class="myItem-a">Modulo Java<span class="sub_icon glyphicon glyphicon-link"></span></a> -->
        <button class="navbar-toggler collapsed" [routerLink]="['/cursos', 7]"
          style="font-size: inherit!important; line-height: inherit!important; margin-left: -33px" type="button"
          data-toggle="collapse" data-target="#navbarNav2" aria-controls="navbarNav2" aria-expanded="false"
          aria-label="Toggle navigation"><a class="myItem-a">Modulo Java<span
              class="sub_icon glyphicon glyphicon-link"></span></a></button>
      </li>

      <li>
        <button class="navbar-toggler collapsed" [routerLink]="['/cursos', 8]"
          style="font-size: inherit!important; line-height: inherit!important; margin-left: -33px" type="button"
          data-toggle="collapse" data-target="#navbarNav3" aria-controls="navbarNav3" aria-expanded="false"
          aria-label="Toggle navigation"><a class="myItem-a">Modulo .Net<span
              class="sub_icon glyphicon glyphicon-link"></span></a></button>
      </li>

      <li>
        <button class="navbar-toggler collapsed" [routerLink]="['/cursos', 9]"
          style="font-size: inherit!important; line-height: inherit!important; margin-left: -33px" type="button"
          data-toggle="collapse" data-target="#navbarNav4" aria-controls="navbarNav4" aria-expanded="false"
          aria-label="Toggle navigation"><a class="myItem-a">Modulo PHP<span
              class="sub_icon glyphicon glyphicon-link"></span></a></button>
      </li>
    </ul>
  </div>

  <img src="../../../assets/dolly.png" style="position: absolute; bottom: 20px; z-index: 60000; left: 20px;" alt="baaaaaahhhhh" height="80px">
</div>


<script>
  $("#menu-toggle").click(function (e) {
    e.preventDefault();
    $("#wrapper").toggleClass("active");
  });

</script>
