header .main-nav {
  position: fixed;
  width: 81%;
  margin-left: 19%;
  z-index: 4000;
  justify-content: center;
}

header .main-nav-scrolled {
  background-color: rgba(0, 0, 0, 0.4);
}

.navbar-light .navbar-nav .nav-link {
  color: #fff;
}

.navbar-light .navbar-nav .active .nav-link {
  color: #00e0d0;
}

h2 {
  display: block;
  margin-left: 35%;
}
